<div class="stories">
  <h2>Nuestra historia</h2>
  <p>lorem insulorem insulorem insulorem insulorem insulorem insulorem insulorem
    insulorem insulorem insulorem insulorem insulorem insulorem insulorem insulorem insulorem
    insulorem insulorem insulorem insulorem insulorem insulorem insulorem insulorem insulorem
    insulorem insulorem insulorem insulorem insulorem insulorem insulorem insulorem insulorem insulorem
    insulorem insulorem insulorem nsulorem insulorem insulorem insulorem insulorem insulorem insu</p>
</div>
