<%# <% if product.inventory_count.positive? %>
  <%# <p><%= product.inventory_count %>
    <%# en stock</p>  %>
  <%# <% else %>
    <%# <p>Agotado</p> %>
    <%# <p>Envíeme un correo electrónico cuando esté disponible.</p> %>
    <%# <% form_with model: [product, Suscriber.new] do |form| %>
      <%# <%= form.emial_field :email, placeholder: "tu@example.com", required: true %>
      <%# <%= form.submit "Enviar" %>
    <%# <% end %>
<%# <% end%>
